@font-face {
	font-family: "Vazirmatn";
	src: url("../files/Vazirmatn-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../files/Vazirmatn-Bold.woff2") format("woff2");
	font-weight: 700;
}

body {
	font-family: "Vazirmatn", Tahoma, Verdana, sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
	color: #e2541c;
	transition: color 0.1s, text-shadow 0.1s;
}

a:hover {
	text-shadow: 0px 3px 5px #e2541c80;
}

a:active {
	text-shadow: 0px 3px 10px #4545e780;
	color: #4545e7;
}

.ltr {
	direction: ltr;
	text-align: left;
}

.error {
	color: red;
	font-weight: bold;
}

.error::after {
	content: " ❌";
}

.done {
	color: darkgreen;
}

.done::after {
	content: " ✅";
}

.warn {
	color: orangered;
}

.warn::after {
	content: " ⚠️";
}

.required {
	color: #ac0000;
}
