.divTable {
	display: table;
	width: 1024px;
	font-size: 13pt;
	font-family: "Vazirmatn", Tahoma, Verdana, sans-serif;
	margin: 0 auto;
	direction: rtl;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	border: 1px solid #999;
	padding: 3px 10px;
}

nav {
	font-weight: bold;
}

#siteInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	user-select: none;
}

#siteInfo__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#siteInfo__text span {
	font-size: 11pt;
}

#siteTitle {
	font-size: 16pt;
}

#siteLogo {
	max-width: 100px;
	height: auto;
}

#DateTime {
	text-align: center;
	font-size: 16px;
}

#footer {
	text-align: center;
}