.divTable {
  display: table;
  width: 1024px;
  font-size: 13pt;
  font-family: Tahoma, Verdana;
  margin-left: auto;
  margin-right: auto;
  direction: rtl
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  display: table-cell;
  border: 1px solid #999;
  padding: 3px 10px;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #e2541c;
}

a:hover {
  font-style: italic;
  text-shadow: 0px 5px 7px #e2541c80;
}

a:active {
  font-style: italic;
  text-shadow: none;
}

.siteInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px
}